NODE_ENV=development.local
TIME_ZONE="Asia/Yangon"
PORT=5400
LOG_LEVEL=debug

DOT_ENV_FILE_PATH=".env"

#Database
DB_CONNECTION="main"
DB_PROVIDER=mysql
DB_HOST=localhost
DB_NAME=db_persons
DB_PORT=3306
DB_USERNAME=db_user
DB_PASSWORD="Abcd1234$"
DATABASE_URL="mysql://db_user:Abcd1234$@localhost:3306/db_persons"
DATABASE_URL_TEMPLATE="${DB_PROTOCOL}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"


JWT_ACCESS_SECRET="Xe1nasee{w5Puo4v"
JWT_ACCESS_TOKEN_EXPIRE="15m"
JWT_REFRESH_SECRET="uvohcoh\Haenguu7"
JWT_REFRESH_TOKEN_EXPIRE="7d"